body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}
.panel {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.left-panel {
  background-color: rgba(230, 245, 254, 0.29);
}

.right-panel {
  background-color: #FFF;
}

.App {
  text-align: center;
  z-index: 1;
}

.cats-cards {
  padding-top: 100px;
}

.footer {
  position: absolute!important;
  bottom: 0!important;
}